*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header1{
    background-color: gold;
    color: white;
    text-align: center;
}
.logo{
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-decoration: underline;
}
.logo:hover{
    cursor: pointer;
    font-size: 52px;
    color: white;

}
.header1 button:hover{
    color: black;
}
.header2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgb(128, 0, 128);

}

nav ul{
    list-style: none;
    font-size: medium;
    font-weight: 600;
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
nav a{
    color: white;   
}

.parks{
    display: flex;
    flex-direction: row;
}
nav a:hover{

    color: black;
    text-decoration: none;
    font-size: large;
    transition: .2s;
}
.menuList{
    position: relative;
}
#menuIcons span{
    color: white;
}

.menuList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    position: absolute;
}
.header2 button{
    background-color: yellow;
    color: black;
    height: 4rem;
    width: 12rem;
    border: none;
    border-radius: 4px;
}

.header2 button:hover{
    color: black;
    border: 2px solid black;
    font-weight: bolder;
}

.header3{
    background-color: gold;
    display : flex;
    flex-direction : row;
    justify-content : flex-end;
    align-items : center;
    height: 2.5rem;
    padding-right: 32px;
}

.header3 p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    padding-top: 8px;
    color: white;
    gap: px;
}
#locationButton{
    display: flex;
    align-items: center;
    height: 20px;
}

.HoliSpecial{
    background-image: url("https://pricemenu.in/wp-content/uploads/2024/01/happy-holi-images-1024x576.jpg");
    padding: 32px;
    width: 1000px;
    height: 550px;
}
.HoliSpecial a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    padding: 48px;
}
.happyVacation{
    background-image: url("https://images.herzindagi.info/image/2023/Apr/adventure-theme-parks.jpg");
    padding: 32px;
    width: 1000px;
    height: 550px;

}
.happyVacation div{
    color: black;
    background-color: white;
    padding: 16px;
    width: 340px;
    border-radius: 4px;
    border: 1px solid grey;
}
.summer{
    background-image: url("https://tourscanner.com/blog/wp-content/uploads/2020/06/best-theme-parks-in-the-world.jpg");
    padding: 32px;
    width: 1000px;
    height: 550px;
}
.summer div{
    color: black;
    background-color: white;
    padding: 16px;
    width: 400px;
    border-radius: 4px;
    border: 1px solid grey;
}

.summer p{
    background-color: white;
}

.OffersSection{
    display: flex;
    flex-direction: row;
    background-color: rgb(202, 254, 254);
    padding-left: 250px;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.rides{
    background-color: rgb(128, 0, 128);
    height: 500px;
    padding: 32px;
    display: flex;
    flex-direction: row;
}
.caption h2{
    font-size: 38px;
    font-weight: bolder;
    color: white;
}
.caption p{
    color: white;
    max-width: 400px;
    font-size: 24px;
}


.rideItem img{
    width: 300px;
    height: 250px;
    border-radius: 6px;
}
.rideItem p{
    color: white;
    font-size: 24px;
    text-align: center;
}

.rideList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.rideList span,
.foodList span{
    background-color: gold;
    color: black;
    height: 48px;
    width: 40px;
    font-size: 32px;
    padding: 10px;
    border-radius: 2px;
}

.rideItem{
    display: flex;
    flex-direction: column;

}

.foodList img{
    width: 300px;
    height: 250px;
    border-radius: 8px;
    
}
.foodList{
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 48px;

}

.diners{
    background-color: rgb(201, 253, 124);
}

.content h3{
    
    font-size: 42px;
    font-weight: 700;
    
}
.content p{
    font-size: 24px;
}
.content{
    text-align: center;
    color: rgb(3, 51, 197);
    gap: 24px;
}
#diveIn{
    background-color: rgb(3, 51, 197);
    color: white;
    border: none;
    width: 9rem;
    height: 3rem;
    border-radius: 6px;

}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    #navigations{
        display: none;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid gray;
        border-radius: 4px;
        background-color: white;
        padding: 16px;
        width: 280px;
        gap: 24px;
        text-align: center;
    }
    nav a{
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        padding: 48px;
        
    }
        
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #contact,
    #links,
    #offers,
    #timing{
        display: none;
    }
    #menuIcons{
        margin-right: 24px;
    }

    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    #timing,
    #offers{
        display: block;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    #menuIcons{
        display: none;
    }
    .navigation{
        display: block;

    }
    .navigation ul{
        display: flex;
        flex-direction: row;

        background-color: transparent;
        border: none;

    }
    #links,
    #contact{
        display: block;
    }
    .rideItem{
        display: flex;
        flex-direction: column;
        display: none;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
  }